



.social-media {

        display: flex;
        list-style: none;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;


}
.social-media li a img{
    width: 30px;
}
a{
    text-decoration: none;
    color: #57ba98;
}


#about ul {
    margin: 10px 4px;
    padding: 10px 3px;
}
.center{
    display: flex;
    align-items: center;
}